{% extends "encyclopedia/layout.html" %}


{% block title %}
    {{title}}
{% endblock %}

{% block nav %}
        
            <div class="side" >
                <a  href="https://en.wikipedia.org/wiki/Markdown">What is Markdown </a>
            </div>
 
{% endblock %}


{% block body %}
    <form action="{% url  'new_page' %}" method="post" autocomplete='off'>
        {% csrf_token %}

        <textarea name="page_content"  placeholder="Enter the Markdown content for the page" required>{{text}}</textarea>
        
        <div  class='link_align' >
            <input class='long' type="text" placeholder="Name of the page: only letters, numbers, whitespaces and hyphens" name="page_name" required> 
            &nbsp;&nbsp <input type ="submit" value='Save'> 
            <snap class="err">{{error_message}} </snap>                                                  
        </div>
    </form>        
{% endblock %}